.geral {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}
.row {
    flex: 1;
    border: solid;
    margin: 5px;
    padding: 1em;
}
